
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
}

img {
    display: block;
}

/* шапка */

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 73px;
    border-bottom: 0;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
}

.header-container {
    width: 1110px;
    margin:0 auto;
    display: flex;
    align-items: center;
}

.nav {
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    color: rgb(25, 25, 25);
}

.nav-link {
color: black;
text-decoration: none;
margin-right: 32px;
border-bottom: 1px solid white;
}

.nav-link:hover {
    color: #457b9d;
    border-bottom: 1px solid #457b9d;
}

.nav-link:last-child {
margin: 0;
}

.header-icon {
    margin-left: auto;
    display: flex;
    text-align: center;
}

.header-icon-item {
    margin-left: 25px;
}

.store:first-child {
    margin-left: 0;
}

/* основа */

.main-conteiner {
    width: 1110px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    align-items: center;
}

.main-content {
    font-size: 18px;
    color: black;
    width: 700px;
}

.main-h1 {
margin-top: 0;
margin-bottom: 16px;
font-weight: 800;
font-size: 50px;
line-height: 1;
color: black;
text-align: center;
}

.number {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 15px;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
    padding: 30px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #add0e6;
    width: 400px; 
    height: 110px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttom {
    display:inline-block;
    justify-content: center;
    height: 62px;
    background: white;
    box-sizing: border-box;
    border: 1px solid #8ecae6;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 20px;
    line-height: 62px;
    text-align: center;
    color: #05A2FA;
    text-decoration: none;
    margin: 20px;
}

.buttom:hover {
    opacity: 0.8;
    color: #457b9d;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* подвал */

.footer {
    height: 72px;
    background: rgb(255, 255, 255);
    color: #7E868E;
    display: flex;
    margin: auto;
}
.footer-container {
    width: 1110px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    /* padding-top: 197px;
    padding-bottom: 197px; */
}

.footer-copy {
    font-size: 14px;
}
 
.footer-icon {
    display: flex;
}

.footer-icon-item {
    margin-left: 16px;
}